<div *ngIf="task">
    <h2>{{ task.title }}</h2>
    
  
    <!-- Aquí podrías mostrar las subtareas si las hay -->
   
      <ul>
        <li *ngFor="let subtask of task.subtasks" [ngClass]="{ 'completed': subtask.completed }">
          <p [style.text-decoration]="subtask.completed ? 'line-through' : 'none'">{{ subtask.title }}</p>
         
          <p><button (click)="removeSubtask(subtask.id)">Eliminar</button></p>
          <p><button (click)="markSubtaskAsCompleted(subtask.id)">Marcar como Completada</button></p>
    
        </li>
      </ul>
      
    <form (submit)="addSubtask()">
      <label for="subtaskTitle">Título de la Subtarea:</label>
      <input type="text" id="subtaskTitle" name="subtaskTitle" [(ngModel)]="newSubtask.title" required>
  
      <label for="subtaskDescription">Descripción de la Subtarea:</label>
      <textarea id="subtaskDescription" name="subtaskDescription" [(ngModel)]="newSubtask.description"></textarea>
  
      <button type="submit">Agregar Subtarea</button>
    </form>
  
  </div>
  
