<div class="row d-flex justify-content-between">
    <div class="col-12">
      <h2 class="text-bold">{{ task.title }}</h2>
    </div>
    <div class="col-12">
      <form (submit)="addSubtask()">
        <label for="subtaskTitle">Título da subtarefa:</label>
        <input type="text" id="subtaskTitle" name="subtaskTitle" [(ngModel)]="newSubtask.title" required class="form-control mb-4">
        <button class="btn btn-success" type="submit">Adicionar subtarefa</button>
      </form>
    </div>

    <table class="table table-striped mt-4">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tbody>
        <tr *ngFor="let subtask of task.subtasks" [ngClass]="{ 'completed': subtask.completed }">
          <td [style.text-decoration]="subtask.completed ? 'line-through' : 'none'">{{ subtask.title }}</td>
          <td class="justify-content-end">
            <ul>
              <li><button class="btn btn-sm btn-success " (click)="removeSubtask(subtask.id)">Eliminar</button></li>
              <li> <button class="btn btn-sm btn-primary" (click)="markSubtaskAsCompleted(subtask.id)">Marcar como Completada</button></li>
            </ul> 
          </td>  
        </tr>
      </tbody>
    </table>
  </div>
  
